
body {
  background-color: #E8ECEF;
}

hr{
  color:black;
  height: 1px;
}
.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
